language: csharp
solution: Travis.sln
install:
  - nuget restore Travis.sln
  - nuget install NUnit.Runners -Version 2.6.4 -OutputDirectory testrunner
script:
  - xbuild /p:Configuration=Release Travis.sln
  - mono ./testrunner/NUnit.Runners.2.6.4/tools/nunit-console.exe ./Travis.Tests/bin/Release/Travis.Tests.dll
